<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ cat.name }} - Профіль пухнастика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="profile-container">
        
        <img src="{{ url_for('static', filename=cat.img) }}" class="profile-avatar" alt="{{ cat.name }}">

        <div class="profile-text">
            <h1>{{ cat.name }}</h1>
            
            <span class="tag">{{ cat.role }}</span>

            <div class="profile-description">
                <p>{{ cat.desc }}</p>
            </div>
			
			<div class="profile-secrets">
				<hr>
				<h3>🤫 Мої секрети:</h3>
				<p>{{ cat.full_bio }}</p>
			</div>
        </div>

        <div style="margin-top: 40px;">
            <a href="/" class="btn" style="display: inline-flex; width: auto; padding: 12px 30px;">
                Повернутися до друзів
            </a>
        </div>

    </div>

</body>
</html>